/*:root[theme="light"] {
  --bg: #ffffff;
  --bg-1: #efefef;
  --bg-2: #dfdfdf;
  --text: #202020;
  --text-d2: #303030;
  --text-d3: #404040;
}*/

:root[theme="dark"] {
  --bg: #101012;
  --bg-1: #202024;
  --bg-2: #303036;

  --text-l1: #ffffff;
  --text-b: #dcdde4;
  --text-d1: #c6c7d1;
  --text-d2: #abacba;
  --text-d3: #9092a3;
  --text-d4: #7a7c8e;

  /* --text-l1: yellow;
  --text-b: red;
  --text-d1: orange;
  --text-d2: blue;
  --text-d3: green; */
}

:root {
  /* buttons */
  --button-radius: 6px;
  --button-height: 24px;
  --button-padding: 8px;
  --button-text-size: 12px;

  /* sizes */
  --topnav-height: calc(var(--button-height) + 16px);
  --bottom-bar-height: 24px;
  --sidenav-width: 15vw;
  --selected-item-width: 30vw;
  --grid-item-width: 120px;
  --table-item-height: 32px;

  /*  padding */
  --items-padding: 32px;
  --sidenav-padding: 8px;
}

.noselect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: default;
}

button,
h1,
p,
tr,
div,
td,
table {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: default;
}

img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden; /* To avoid vertical overflow */
  background-color: var(--bg);
}

::-webkit-scrollbar {
  width: 16px;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  box-shadow: inset 0 0 10px 10px var(--bg-1);
  border: solid 4px transparent;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  box-shadow: inset 0 0 10px 10px var(--bg-2);
}

*,
button,
p {
  font-family: "Inter", sans-serif;
}

p {
  margin: 0;
  color: var(--text-b);
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  overflow-wrap: anywhere;
  letter-spacing: 0.01em;
}

h1 {
  font-size: 32px;
  color: var(--text-b);
  letter-spacing: 0.015em;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 28px;
  color: var(--text-b);
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 18px;
  margin: 0;
  letter-spacing: 0.01em;
  color: var(--text-b);
  font-weight: 600;
}

h4 {
  font-size: 16px;
  margin: 0;
  letter-spacing: 0.01em;
  color: var(--text-b);
  font-weight: 600;
}

h5 {
  font-size: 12px;
  color: var(--text-b);
  font-weight: 600;
  margin: 0;
}

button {
  font-size: var(--button-text-size);
  height: var(--button-height);
  border-radius: var(--button-radius);
  border: none;
  background-color: var(--bg-1);
  padding: 0 var(--button-padding);
  /* cursor: pointer; */
  font-weight: 400;
  color: var(--text-d2);
  letter-spacing: 0.01em;
  transition: 30ms;
}

button:hover {
  background-color: var(--bg-2);
}

button.clear {
  background-color: transparent;
  text-align: left;
}

button.clear.border {
  border: 1px solid var(bg-1);
}

button.clear:hover {
  background-color: var(--bg-1);
}

button.icon {
  background-position: center;
  background-size: 18px;
  width: 32px;
  background-repeat: no-repeat;
}

button.icon-left {
  text-align: left;
  background-position: 8px 4px;
  background-size: 16px;
  background-repeat: no-repeat;
  padding-left: 32px;
}

button.icon-center {
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button.icon-center img {
  height: 16px;
  max-height: 100% !important;
  width: auto;
}

button.disabled, button:disabled {
  cursor: default;
  opacity: 50%;
}

button.clear.disabled:hover {
  background-color: var(--bg);
}

select {
  color: var(--text-d2);
  font-size: var(--button-text-size);
  height: var(--button-height);
  background-color: var(--bg);
  border: 1px solid var(--bg-1);
  appearance: none;
  -webkit-appearance: none;
  border-radius: var(--button-radius);
  padding: 0 var(--button-padding);
  /* cursor: pointer; */
  font-weight: 400;
  outline: none;
}

select:hover {
  background-color: var(--bg-1);
}
