#app {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#content {
  display: flex;
  flex-direction: row;
  max-height: calc(100vh - var(--topnav-height) - 1px - var(--bottom-bar-height) - 1px);
  min-height: calc(100vh - var(--topnav-height) - 1px - var(--bottom-bar-height) - 1px);
  box-sizing: border-box;
  max-width: calc(100vw - var(--sidenav-width));
}

#sidenav {
  width: var(--sidenav-width);
  min-width: var(--sidenav-width);
  max-width: var(--sidenav-width);
  height: 100vh;
  border-right: 1px solid var(--bg-1);
  box-sizing: border-box;
}

#sidenav {
  display: flex;
  flex-direction: column;
  padding: var(--sidenav-padding);
  gap: 8px;
}

#sidenav div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#sidenav button {
  width: 100%;
}

#sidenav p {
  font-size: 12px;
  padding-left: 8px;
  margin-top: 8px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--text-d4);
  box-sizing: border-box;
}

#home {
  padding: 32px;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - var(--topnav-height) - 1px - var(--bottom-bar-height) - 1px);
  min-height: calc(100vh - var(--topnav-height) - 1px - var(--bottom-bar-height) - 1px);
  gap: 8px;
  box-sizing: border-box;
}

#home #drives {
  display: flex;
  gap: 16px;
}

#home #drives div {
  background-color: var(--bg-1);
  padding: 16px 16px;
  border-radius: 8px;
}

#home #drives div p {
  font-size: 14px;
}
#settings {
  padding: 32px;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - var(--topnav-height) - 1px - var(--bottom-bar-height) - 1px);
  min-height: calc(100vh - var(--topnav-height) - 1px - var(--bottom-bar-height) - 1px);
  gap: 8px;
  box-sizing: border-box;
}

#topnav {
  height: var(--topnav-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 0 8px;
  border-bottom: 1px solid var(--bg-1);
}

#topnav #path {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#topnav #path button {
  color: var(--text-d2);
}

#topnav #path button:last-child {
  color: var(--text-d1);
}

#topnav #path img {
  height: 18px;
  width: 16px;
  object-fit: cover;
}

#topnav div.btn-selector {
  display: flex;
  box-shadow: 0px 0px 1px 1px var(--bg-1);
  border-radius: var(--button-radius);
}

#topnav div.btn-selector button.active:hover {
  background-color: var(--bg-2);
}

#topnav div.btn-selector button.active {
  background-color: var(--bg-1);
}
#topnav div.btn-selector button:first-child {
  border-bottom-left-radius: var(--button-radius);
  border-top-left-radius: var(--button-radius);
}

#topnav div.btn-selector button:last-child {
  border-bottom-right-radius: var(--button-radius);
  border-top-right-radius: var(--button-radius);
}

#topnav div.btn-selector button {
  border-radius: 0;
  width: 32px;
}

#bottom-bar {
  height: var(--bottom-bar-height);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  padding-left: 8px;
  border-top: 1px solid var(--bg-1);
  z-index: 100;
  max-width: 100%;
}
#bottom-bar div {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  align-items: center;
  gap: 16px;
}

#bottom-bar div p {
  font-size: 12px;
  white-space: nowrap;
  color: var(--text-d3);
}

#bottom-bar div p:nth-child(4){
  overflow: hidden;
  max-width: 65%;
  text-overflow: ellipsis;
}